h1{
	color: orange;
	font-size: 100px;
	animation-name: gogo;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
@keyframes gogo{
	20%{color:yellow;}
} 
img{
	animation-name: go;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	left: 0px;
	top:10px;
}
@keyframes go{
	20%{top:0px;left: 0px;transform: rotate(-360deg);}
}