*{
	margin: 0px;
	padding:0px;

}
.container{
	max-width:1200px;
	margin:0 auto;
}
.title{
	width: 100%;
	min-height: 150px;
	background-color:lightsalmon;
	display: flex;
	justify-content: center;
}
.title> h2{
	color:green;
	font-size: 35px;
	align-self:center;

}
.main{
	width: 100%;
	min-height: 500px;
	background-color: lightsalmon;
	margin-top: 50px;
	display: flex;
}
.mainL{
	width:60%;
	min-height:500px;
	background-color:black;
}
.mainR{
	width: 60%;
	min-height: 500px;
	background-color: yellow;
	
}
	

