#main {
	border: 3px solid black;
	width: 500px;
	height: 250px;
	margin: auto;
}
#nora {
		border: 3px solid black;
	width: 500px;
	height: 250px;
	margin: auto;
}
#nora1 {
		border: 3px solid black;
	width: 500px;
	height: 250px;
	margin: auto;
}
#nora2 {
		border: 3px solid black;
	width: 500px;
	height: 250px;
	margin: auto;
}