h1{
color:pink;
font-size:40px;	
}
h1:hover{
color:black;
font-size:39px;	
}
.box{
list-style-type: square;	
}
div{
	width: 100px;
	height: 100px;
	background-color: rgba(100, 255,140, 1);
	border:3px dotted black;
    border-radius:30%;
background-image: radial-gradient(at left, red, blue, pink);
}
body{
background-image: linear-gradient(to left bottom, red, blue, pink);
background-repeat: no-repeat;height: 1000px


}