#player{
	width: 182px;
	height: 182px;
	position: absolute;

}
.head{
    width:180px;
    height:180px;
    background-color: pink;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
}
.eye{
	position: absolute;
	width: 7px;
	height: 7px;
	border: 2px solid black;
	border-radius: 50%;
	border: 18px solid white;
	background-color:black;
	top: 30px;
	left: 25px;
}
.eye + .eye{
left: 115px
}
.ear{
	border:30px solid transparent;

	position:absolute;
    border-bottom: 45px solid black;
top: -40px;
left: -16px;
transform: rotate(-37deg);
}
.ear + .ear{
	left: 140px;
	transform: rotate(38deg);
}
.mouth{
	width: 20px;
	height: 20px;
	border-bottom: 2px solid black;
	position: absolute;
	top: 110px;
	left: 70px; 
}
.nose{
	border:10px solid transparent;
	border-bottom: 40px solid black;
	position: absolute;
	top: 50px;
	left: 80px;
}
#c123{
	width: 100px;
	position: absolute;
	left: 300px;
	top: 100px;
}
body{
	background-color: purple;
	animation-name: anim;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}
@keyframes anim{
	25%{background-color: yellow;}
	50%{background-color: green;}
}


