/*span{
	font-size: 50px;
	text-shadow: 5px 5px 6px gray,
	10px -5px 3.2px;
}
div{
	border: 1px solid black;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 100px;
	left: 50px;
	border-radius: 50%;
	box-shadow: 0px 50px 0px 0px; 
}*/


body {
  margin: 0;
  width: 570px;
  background-color: #111111;
  color: #ffffff;
  font-weight: bold;
  font-size: 200px;
  font-family: "Arial", sans-serif;
}

p {
  margin: 0;
  padding-top: 60px;
  text-align: center;
}

span {
  margin-left: 60px;
}

span:first-child {
  margin-left: 0;
  text-shadow: 5px -5px 0px #7fdbff,
  10px -10px 0px #39cccc,
  15px -15px 0px #3d9970,
  20px -20px 0px #2ecc40,
  25px -25px 0px #2ecc40,
  30px -30px 0px #ffdc00,
  35px -35px 0px #ff851b,
  40px -40px 0px #ff4136,
  45px -45px 0px #f012be,
  50px -50px 0px #b10dc9;

}
span:nth-child(2) {
text-shadow: 0px -5px 0px #7fdbff,
0px -10px 0px #39cccc,
0px -15px 0px #3d9970,
  0px -20px 0px #2ecc40,
  0px -25px 0px #2ecc40,
  0px -30px 0px #ffdc00,
  0px -35px 0px #ff851b,
  0px -40px 0px #ff4136,
  0px -45px 0px #f012be,
  0px -50px 0px #b10dc9;

}

span:last-child {
  text-shadow: -5px -5px 0px #7fdbff,
  -10px -10px 0px #39cccc,
  -15px -15px 0px #3d9970,
  -20px -20px 0px #2ecc40,
  -25px -25px 0px #2ecc40,
  -30px -30px 0px #ffdc00,
  -35px -35px 0px #ff851b,
  -40px -40px 0px #ff4136,
  -45px -45px 0px #f012be,
  -50px -50px 0px #b10dc9

}
span:hover{
cursor: not-allowed;}

/*
  Используемые цвета:
  #7fdbff, #39cccc, #3d9970, #2ecc40, #2ecc40, #ffdc00, #ff851b, #ff4136, #f012be, #b10dc9
*/