body{
	background-image: url(index.jpeg);
}
.cat_pig{
	
}

.body{
	border-radius:50%;
	width:250px;
	height:250px;
	border: 15px solid pink;
	position: absolute;
	top:130px;
	left: 125px;
	background-color:  pink;
}
.eye{
	border-radius:50%;
	width:100px;
	height:100px;
	border: 20px solid black;
	position: absolute;
	top:130px;
	left: 125px;
	background-color: white;
	top: 150px;
}
.eye+.eye{
	top:150px;
	left:250px;
}
.mouse{
	border-radius:50%;
	width:1px;
	height:1px;
	border: 50px solid black;
	position: absolute;
	top:150px;
	left: 125px;
	background-color: black;
	top: 290px;
	left:210px;
}
.coin{

}
.METAL{
border-radius:50%;
	width:100px;
	height:100px;
	border: 15px solid gold;
	position: absolute;
	top:130px;
	left: 125px;
	background-color: gold;
	top: 150px;
	left: 555px;
	animation-name:go;
	animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes go{
	10%{background-color: silver}
	20%{background-color: red}
	30%{background-color: violet}
	40%{background-color: pink}
	50%{background-color: lime}
}
.METAL+.METAL{
	border-radius:50%;
	width:100px;
	height:100px;
	border: 15px solid gold;
	position: absolute;
	top:130px;
	left: 125px;
	background-color: gold;
	top: 150px;
	left: 750px;
	animation-name:go;
	animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes go{
	10%{background-color: silver}
	20%{background-color: red}
	30%{background-color: violet}
	40%{background-color: pink}
	50%{background-color: lime}
}
.METAL+.METAL+.METAL{
	border-radius:50%;
	width:100px;
	height:100px;
	border: 15px solid gold;
	position: absolute;
	top:130px;
	left: 125px;
	background-color: gold;
	top: 150px;
	left: 950px;
	animation-name:go;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
@keyframes go{
	10%{background-color: silver}
	20%{background-color: red}
	30%{background-color: violet}
	40%{background-color: pink}
	50%{background-color: lime}
}