.cat_pig{
	width:500px;
	height:500px;
    border:10px solid grey;
    position: absolute;
}
.head{
	border-radius:50%;
	width:100px;
	height:100px;
	border: 15px solid black;
	position: absolute;
	left:200px;
}
.body{
	border-radius:50%;
	width:250px;
	height:250px;
	border: 15px solid black;
	position: absolute;
	top:130px;
	left: 125px;
}
.legs{
	border-radius:50%;
	width:50px;
	height:50px;
	border: 15px solid black;
	position: absolute;
	bottom:20px;
	left:170px;
}
.legs + .legs{
	left: 270px;
}
.eyes{
	border-radius:50%;
	width:15px;
	height:15px;
	border: 1px solid black;
	position: absolute;
	top: 45px;
	left:240px;
}
.eyes+.eyes{
	left:270px;
}
.arm{
	border-radius:50%;
	width:50px;
	height: 50px;
	border: 15px solid black;
	position: absolute;
	top:100px;
	left:100px;
}
.arm+.arm{
     left: 350px;
}
.nose{
	border-radius:50%;
	width:5px;
	height:5px;
	border: 10px solid pink;
	position: absolute;
    background-color: pink;
     top:60px;
	left:250px;
}
.kruzhochekVnos{
	border-radius:50%;
	width:5px;
	height:15px;
	border: 1px solid black;
	position: absolute;
    background-color: black;
     top:65px;
	left:255px;
}
.kruzhochekVnos+.kruzhochekVnos{
	left:265px;
}